<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/home.css">
        <title>Home</title>
    </head>
    <body>
        <!-- Background Container -->
        <div id="backgroundContainer" class="backgroundContainer">
            <img src="/pictures/airplane_wallpaper.jpg" alt="Background Picture" id="backgroundhome">
        </div>

        <!-- Login Container -->
        <div id="loginContainer" class="loginContainer">
            <a href="/user" class="loginLink">Flights</a>
            <a href="/user" class="user-login_create">Create user/Login</a>
        </div>
    </body>
</html>
